<div class="row justify-content-center pt-2">
    <div class="text-center col">
      <h1 class="h3">Feature : Template-driven Forms</h1>
      <hr>
    </div>
  </div>
  <div class="row justify-content-center p-2">
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      {{ movie | json }}
    </div>
    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
      <div class="card">
        <div class="card-header text-center">
          <h4>Movie : <span class="text-primary font-weight-bold">Avengers: Endgame</span></h4>
        </div>
        <div class="card-body">
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" id="name" [ngModel]="movie.name">
              </div>
              <div class="form-group col-md-6">
                <label for="release">Release Date</label>
                <input type="text" class="form-control" name="release" id="release"  [ngModel]="movie.releaseDate">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="domestic">Domestic</label>
                <input type="text" class="form-control" name="domestic" id="domestic" [(ngModel)]="movie.domestic">
              </div>
              <div class="form-group col-md-4">
                <label for="international">International</label>
                <input type="text" class="form-control" name="international" id="international"  [(ngModel)]="movie.international">
              </div>
              <div class="form-group col-md-4">
                <label for="worldwide">Worldwide</label>
              
                
              </div>
            </div>
            <div class="form-row justify-content-center">
              <button type="submit" class="btn btn-primary mr-4">Create</button>
              <button type="submit" class="btn btn-primary mr-4">Update</button>
              <button type="submit" class="btn btn-primary">Delete</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>