<div class="card">
    <div class="row no-gutters">
      <div class="col-md-6 pt-2 pb-2">
        <img src="./assets/params/images/smartphones/{{ smartphone.name }}.jpg" class="card-img"
          alt="{{ smartphone.name }}">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <button type="button" class="btn btn-primary btn-sm" (click)="select(smartphone)">n° {{ index }}</button>
          <h6 class="card-subtitle mb-2 text-primary font-weight-bold pt-4">{{ smartphone?.name }}</h6>
          <h6 class="card-subtitle mb-2 text-dark">{{ smartphone?.model }}</h6>
          <h6 class="card-subtitle mb-2 text-dark">{{ smartphone?.prize }}</h6>
          <h6 class="card-subtitle mb-2 text-dark">{{ smartphone?.year }}</h6>
        </div>
      </div>
    </div>