<div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
    <div class="row">
      <div class="container-fluid">
        <div class="card p-4">
          <h5 class="card-title">Chart avec Chart.js</h5>
          <canvas baseChart [datasets]="datasets" [labels]="labels"  [chartType]="type">
          </canvas>
        </div>
      </div>
    </div>
  </div>